<ng-container *ngIf="productionOrder$ | async as order; else elseTemplate">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Produktionsauftrag: {{order.CustomerOrderId}}</mat-card-title>
      <mat-card-subtitle>Hier sehen Sie alle Details zu dem Produktionsauftrag {{order.CustomerOrderId}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="start center">
      <div fxFill fxLayout="row">
        <div class="outer-image" fxLayoutAlign="center center" [ngStyle]="{'background-color': order.Color}">
          <div class="inner-image">
            <mat-icon>{{getIcon()}}</mat-icon>
          </div>
        </div>
        <div fxFlex>
          <mat-list>
            <mat-list-item><b [ngStyle]="{'min-width': '100px'}">Id: </b> <span [ngStyle]="{'min-width': '200px', 'text-align':'end'}">{{order.Id}}</span></mat-list-item>
            <mat-list-item><b [ngStyle]="{'min-width': '100px'}">Lieferdatum: </b> <span [ngStyle]="{'min-width': '200px', 'text-align':'end'}">{{order.DeliveryDate}}</span></mat-list-item>
            <mat-list-item><b [ngStyle]="{'min-width': '100px'}">Menge: </b> <span [ngStyle]="{'min-width': '200px', 'text-align':'end'}">{{order.Amount}}</span></mat-list-item>
          </mat-list>
        </div>
        <div fxFlex *ngIf="qualityValues$ | async as quality">
          <mat-list>
            <mat-list-item><b [ngStyle]="{'min-width': '100px'}">Weißheitsgrad: </b> <span [ngStyle]="{'min-width': '200px', 'text-align':'end'}">{{quality[0].Whiteness}}</span></mat-list-item>
            <mat-list-item><b [ngStyle]="{'min-width': '100px'}">Absorptionsfähigkeit: </b> <span [ngStyle]="{'min-width': '200px', 'text-align':'end'}">{{quality[0].Absorbency}}</span></mat-list-item>
            <mat-list-item><b [ngStyle]="{'min-width': '100px'}">Viskosität: </b> <span [ngStyle]="{'min-width': '200px', 'text-align':'end'}">{{quality[0].Viscosity}}</span></mat-list-item>
            <mat-list-item><b [ngStyle]="{'min-width': '100px'}">PPML: </b> <span [ngStyle]="{'min-width': '200px', 'text-align':'end'}">{{quality[0].Ppml}}</span></mat-list-item>
            <mat-list-item><b [ngStyle]="{'min-width': '100px'}">DeltaE: </b> <span [ngStyle]="{'min-width': '200px', 'text-align':'end'}">{{quality[0].DeltaE}}</span></mat-list-item>
          </mat-list>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="close()">Schließen</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
<ng-template #elseTemplate>
  <div fxFill fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>