<ng-container *ngIf="productionOrder$; else elseTemplate">
  <mat-card>
    <mat-card-header>
      <mat-card-title>title</mat-card-title>
      <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="close()">Ok</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
<ng-template #elseTemplate>
  <div fxFill fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
  </div>
</ng-template>