.child-card {
    background: rgba(220, 220, 220, 0.5);
    margin-bottom: 1% !important;
    margin-top: 1% !important;
}

.child-card .mat-card-title {
    padding: 16px 0px 0px 0px;
}

.color-section {
    display: flex;
    align-content: center;
    align-items: center;
}

.change-button {
    margin-right: 2%;
}

.full-width {
    width: 100%;
}

.form-number,
.form-count {
    width: 30%;
}

.form-number {
    margin-right: 5%;
}