.header {
    background-color: rgba(215, 215, 215, 0.9);
}

body {
    font-family: 'Tahoma Bold', 'Tahoma';
}

.footer {
    background-color: rgba(144, 199, 222, 1);
    font-weight: 700;
}

.nav-caption {
    width: 100%;
    text-align: center;
    padding: 1%;
}

.nav-item {
    padding: 0% 5%;
}

.img-side-nav {
    width: 30px;
}

.company {
    height: 40px;
}

.img-footer {
    width: auto;
    height: 40px;
}

.footer-company {
    padding-top: 5px;
}


/*Material elements */

.mat-list-item {
    border: 0.5px solid gray;
}

.mat-toolbar {
    background: none;
}

.material-icons {
    font-size: 34px;
}