<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="over">
        <div class="nav-caption">Menü</div>
        <mat-nav-list>
            <a mat-list-item routerLink="#" (click)="onSidenavClose()">
                <img class="img-side-nav" src="../assets/images/u12.png">
                <span class="nav-item">Produktionsüberwachung</span>
            </a>
            <a mat-list-item routerLink="#" (click)="onSidenavClose()">
                <img class="img-side-nav" src="../assets/images/u13.png">
                <span class="nav-item">Verwaltung</span>
            </a>
            <a mat-list-item routerLink="#" (click)="onSidenavClose()">
                <img class="img-side-nav" src="../assets/images/u14.png">
                <span class="nav-item">Qualitätsdaten</span>
            </a>
            <a mat-list-item routerLink="#" (click)="onSidenavClose()">
                <img class="img-side-nav" src="../assets/images/u11.png">
                <span class="nav-item">Fertigungsaufträge</span>
            </a>
            <a mat-list-item routerLink="#" (click)="onSidenavClose()">
                <i class="material-icons img-side-nav">today</i>
                <span class="nav-item">Auftragsplanung</span>
            </a>
            <a mat-list-item routerLink="#" (click)="onSidenavClose()">
                <img class="img-side-nav" src="../assets/images/u40.png">
                <span class="nav-item">Abmelden</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div fxFill fxLayout="column">
            <div class="header">
                <mat-toolbar>
                    <mat-toolbar-row>
                        <div fxFlex="90%">
                            <button (click)="sidenav.toggle()" mat-button>
                                <i class="material-icons">
                                    menu
                                </i>
                            </button>
                        </div>
                        <div fxFlex="10%">
                            <a mat-button routerLink="/home">
                                <i class="material-icons">
                                    home
                                </i>
                            </a>
                            <a mat-button routerLink="#">
                                <i class="material-icons">
                                    account_circle
                                </i>
                            </a>
                        </div>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
            <div fxFlex>
                <router-outlet></router-outlet>
            </div>
            <div class="footer">
                <mat-toolbar>
                    <mat-toolbar-row>
                        <div fxFlex="80%">Entwickelt durch Produktionsteam HS-Offenburg</div>
                        <div class="company" fxFlex="20%">
                            <img fxFlex class="img-footer" src="../assets/images/Logo.svg">
                            <div fxFlex class="footer-company">YourShirt GmbH</div>
                        </div>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>