<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over">
    Sidenav content
  </mat-sidenav>
  <mat-sidenav-content>
  <div fxFill fxLayout="column">
    <div class="header">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button (click)="sidenav.toggle()">Toggle</button>
          <span>Header</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <div fxFlex><router-outlet></router-outlet></div>
    <div>Footer</div>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>


