.child-card {
    background: lightgray;
    margin-bottom: 1% !important;
    margin-top: 1% !important;
}

.child-card .mat-card-title {
    padding: 16px 0px 0px 0px;
}

.color-section {
    display: flex;
    align-content: center;
    align-items: center;
}

.change-button {
    margin-right: 2%;
}